/* Fonts */
@font-face {
    font-family: "RubikDoodleShadow-Regular";
    src: url("fonts/RubikDoodleShadow-Regular.ttf");
}

@font-face {
    font-family: "Gabarito-VariableFont_wght";
    src: url("fonts/Gabarito-VariableFont_wght.ttf");
}
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
    padding: 0px;
}
/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: "RubikDoodleShadow-Regular";
    color: #000000;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    width: 320px;
}

/* Header Styles */
.floating-bar-header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.floating-bar-header #title {
    text-align: center;
    background: rgba(255, 255, 255, 0.27);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.2px);
    -webkit-backdrop-filter: blur(11.2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: large;
    font-weight: bold;
    border-radius: 20px;
    position: fixed;
    top: 0;
    z-index: 10;
    margin-top: calc(100vh * 0.04);
    flex-direction: row;
}
.bottom-bar {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    margin-right: 30px;
    cursor: pointer;
    gap:10px;
}


.bottom-bar img {
    background: rgba(255, 255, 255, 0.27);
    border-radius: 100%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.2px);
    -webkit-backdrop-filter: blur(11.2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 35px;
}


/* Game Styles */
.game {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.sudoku-container {
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, 0.27);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.2px);
    -webkit-backdrop-filter: blur(11.2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.sudoku-cell {
    aspect-ratio: 1/1;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(300px / 15);
    font-weight: bold;
    cursor: pointer;
    width: calc(300px / 9 - 1.5px);
    height: calc(300px / 9 - 1.5px);
}

.sudoku-cell:hover {
    background-color: #a97f5d;
}

/* Special Border Radius for Sudoku Container */
#sc-0-0 {
    border-top-left-radius: 15px;
}

#sc-0-8 {
    border-top-right-radius: 15px;
}

#sc-8-0 {
    border-bottom-left-radius: 15px;
}

#sc-8-8 {
    border-bottom-right-radius: 15px;
}

/* Game Help Styles */
#game-help {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    overflow-x: scroll;
    background: rgba(255, 255, 255, 0.27);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.2px);
    -webkit-backdrop-filter: blur(11.2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    scrollbar-width: none;
    font-family: "Gabarito-VariableFont_wght";
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Hide Scroll Bar in WebKit Browsers (Chrome, Safari, Opera) */
#game-help::-webkit-scrollbar {
    display: none;
}
#game-help h1, h2, h3, h4, h5, h6 {
    margin: 5px;
    padding: 5px;
}
.close-button {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    font-family: "Gabarito-VariableFont_wght";
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: ease-in-out 0.5s;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
}

